/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

/* Estilos del encabezado */
header {
    background-color: black;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #FFD700;
}

/* Estilos de las secciones */
section {
    padding: 80px 0;
}

section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.1rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Sección de formulario de contacto */

#contacto-form {
    background-color: #fdfdfd;
    padding: 60px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 50px 0;
    text-align: center;
}

#contacto-form .containerr {
    max-width: 700px;
    margin: 0 auto;
}

#contacto-form h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#contacto-form p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: black;
    line-height: 1.6;
}

/* Estilos del formulario */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: 'Roboto', sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #337ab7;
    box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
    outline: none;
}

textarea {
    resize: vertical;
}

/* Botón de enviar */

.button {
    display: inline-block;
    background-color: #337ab7;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: #23527c;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


 /* Estilos específicos del footer */
 footer {
    background-color: black;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    margin-top: 25px; /* Espacio adicional para separar del contenido */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-info {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

footer .footer-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FFD700;
}

footer .footer-info p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #fff;
}

footer .footer-info p strong {
    color: #FFD700;
}

footer .horarios {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

footer .horarios h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FFD700;
}

footer .horarios p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #fff;
}

footer .redes-sociales {
    flex: 1;
    text-align: left;
}

footer .redes-sociales h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FFD700;
}

footer .redes-sociales ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .redes-sociales ul li {
    margin-bottom: 10px;
}

footer .redes-sociales ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

footer .redes-sociales ul li a:hover {
    color: #FFD700;
}

footer .legal {
    flex-basis: 100%;
    margin-top: 30px;
}

footer .legal p {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
}

footer .legal a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .legal a:hover {
    color: #FFA500;
}
